#top{
   width: 100px;
   height: 100px;
   margin-left: 25px;
   margin-top: 25px;
   background-color: red;
   border-radius: 100%;
   float: left;
   cursor: pointer;
}

img{
   width: 150px;
   height: 150px;
   margin-left: 25px;
   float: left;
}